<v-content>
    <v-container fluid>
  <h1>About 1</h1>

  <v-list two-line>
    <template v-for="(item, index) in items">
      <v-subheader v-if="item.header"
                   :key="item.header">
        {{ item.header }}
      </v-subheader>

      <v-divider v-else-if="item.divider"
                 :key="index"
                 :inset="item.inset">
      </v-divider>

      <v-list-tile v-else
                   :key="item.title"
                   avatar
                   @click="">
        <v-list-tile-avatar size="52">
          <img :src="item.avatar">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="item.title"></v-list-tile-title>
          <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
        </v-list-tile-content>
        <v-btn round
               fab
               flat
               small
               :to="getCardRoute(item.id)">
          <v-icon>info</v-icon>
        </v-btn>
        <v-btn round
               fab
               flat
               small
               :to="getEditRoute(item.id)">
          <v-icon>edit</v-icon>
        </v-btn>
      </v-list-tile>
    </template>

  </v-list>
  <router-view />
</v-container>
</v-content>